module.exports = {
    listen: 37433,
    logdir: 'logs',
    db: {
        type: 'postgres',
        host: 'localhost',
        port: 5432,
        name: 'db name',
        user: 'db user',
        password: 'db password',
    },
    gitlab: {
        url: 'https://localhost',
        token: 'dasdasd',
        updateInterval: 60, // Seconds
    },
    columns: [
        { key: 'new', title: 'Новые', color: 'rgb(255, 255, 219)' },
        { key: 'planned', title: 'Запланировано', color: 'rgb(236, 236, 191)' },
        { key: 'working', title: 'В работе', color: 'rgb(253, 214, 162)' },
        { key: 'checking', title: 'На проверке', color: 'rgb(162, 226, 253)' },
        { key: 'done', title: 'Выполнено', color: 'rgb(162, 253, 200)' },
    ],
}
